<!DOCTYPE html>
<html lang="en">
<head>
  <title>ICCCIT 2023</title>
  <style>
    .container .row .card1{
      background-color: white;
    }
    .container .row .card1:hover{
      background-image: linear-gradient(white, rgb(111, 102, 107));
      color: black;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Flaticon css ======-->
    <link rel="stylesheet" href="assets/css/flaticon.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="assets/css/animate.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body style="background-color:rgb(248, 221, 221);">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- <a class="navbar-brand" href="#">Logo</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="importantdates.html">Important Dates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Call for Papers</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="CallforPaper.html">Call For Papers</a></li>
            <li><a class="dropdown-item" href="demo.html">Call for Demo</a></li>
            <li><a class="dropdown-item" href="workshop.html">Call for Workshops </a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="doctoralconsortium.html">Doctoral Consortium</a>
        <li class="nav-item">
          <a class="nav-link" href="submissionguidelines.html">Submission Guidelines</a>
        <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
      </ul>
    </div>
  </div>
</nav>
  <h3 class="mx-3 mt-2 " id="header-cfp">Call For Papers</h3>
  <p class="my-1 mx-3" style="text-align:justify;">It is with great pleasure that we invite you to the first “International Conference on Computation, Communication and Interaction Technologies (ICCCIT 2023)” which will be held virtually on February 24-25, 2023. The aim of the conference is to provide a platform to the researchers and practitioners from both academia as well as industry to meet and share cutting-edge development in the field of health and wellbeing, intelligent systems and interaction technologies. </p>
  <p class="my-1 mx-3" style="text-align:justify;">The conference programme will include regular paper presentations in parallel tracks, along with invited talks by prominent keynote speakers and a PhD research Consortium. All submitted papers will be reviewed by at least 3 members of the international program committee; additional reviewers will be consulted if needed. Paper acceptance will be based on originality, significance, technical soundness, and clarity of presentation.</p>
  <h4 class="mx-3 mt-2 " id="header-cfp">List of Topics</h4>
  <p class="mt-2 mb-2 mx-3" style="text-align:justify;">Topics of contributing papers include, but are not limited to, the following areas:</p>
  <div class="container">
  <div class="row">
      <div class="card1 mb-3" style="width: 70%;left:0%;padding:0%;">
        <div class="card-header"><b style="color:rgb(20, 19, 19) ">Track 1: Intelligent Systems<b></div>
        <div class="card-body" style="text-align: justify">
            <ul style="list-style-type:disc"><b style="color:black ;">
              <li>Artificial Intelligence</li>
              <li>Distributed Intelligence</li>
              <li>Intelligent decision-making systems</li>
              <li>Intelligent Communication</li>
              <li>Intelligent interfaces</li>
              <li>Intelligent Security Mechanisms</li>
              <li>Multi-agent Systems</li>
              <li>Data Mining</li>
              <li>Autonomous Systems</li>
              <li>Swarm Intelligence</li>
              <li>Real-time Computing Systems</li>
              <li>Hybrid systems of computational intelligence</li>
              <li>Artificial Life</li>
              <li>Smart Environments and Housing</li>
              <li>Computer vision, robotics and perception</li>
              <li>Medical image processing, recognition and diagnostics with application of intelligent methods</li>
          </b></ul>
        </div>
    </div>
      <div class="card1 mb-3" style="width: 70%;">
        <div class="card-header"><b style="color:rgb(20, 19, 19) ">Track 2: Interaction Technologies<b></div>
        <div class="card-body" style="text-align: justify">
            <ul style="list-style-type:disc"><b style="color:black ;">
              <li>Human-Computer Interaction</li>
                <li>Ubiquitous Computing</li>
                <li>Interactions and Visualizations of Data</li>
                <li>Natural and 3D User Interfaces</li>
                <li>Human Modeling</li>
                <li>Wearable Technologies and Sensors</li>
                <li>3D interaction in Virtual reality Environments</li>
                <li>Human-Machine Systems</li>
                <li>Social and Affective Computing</li>
                <li>Cognitive Science</li>
                <li>Security, Privacy and Trust</li>
                <li>Web and Mobile Interactions</li>
                <li>IoT Technologies</li>
                <li>Game Design</li>
                <li>Usability and User Experiences</li>
                <li>Digital Collaborative Technologies</li>
          </b>  </ul>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="card1 mb-3" style="width: 70%;left:0%;padding:0%;">
        <div class="card-header"><b style="color:rgb(20, 19, 19) ">Track 3: Health and Well-being Technologies<b></div>
        <div class="card-body" style="text-align: justify">
            <ul style="list-style-type:disc"><b style="color:black ;">
              <li>Artificial Intelligence</li>
              <li>E-health and Mobile health</li>
<li>Electronic Health Record Systems</li>
<li>Multimodal Assistive Medical Devices</li>
<li>Telemedicine and Telematics Systems</li> 
<li>Healthcare and information technologies</li>
<li>Digital hospital management</li>
<li>Remote Monitoring</li>
<li>Technology and infrastructure for healthcare</li>
<li>Nursing informatics</li>
<li>Healthcare and analytics</li>
<li>Blockchain Technology for healthcare</li>
<li>Algorithms, methods and services for condition-specific intervention (e.g., diabetes, pregnancy, obesity, dementia, post cancer treatment, allergies, mental health). </li>
<li>Medical data and image analysis</li>
<li>Digital systems for active and healthy aging</li>
<li>IoT and Smart Surveillance Systems</li>
<li>Quality Assurance in Healthcare Systems</li>
<li>Privacy, Security and Ethical policies in healthcare</li>
<li>Tele-Rehabilitation</li>
<li>Neural sensory Systems and Rehabilitation</li>
          </b></ul>
        </div>
    </div>
  </div>
  </div>
  <h4 class="mx-3 mt-2 " id="header-cfp">Submission Guidelines</h4>
  <p class="my-1 mx-3" style="text-align:justify;">Authors are invited to submit original, previously unpublished research papers, proposing novel solutions or describing particular challenges or experiences relevant to the scope of the conference</p>
  <p class="my-1 mx-3" style="text-align:justify;">Authors can submit their work in the form of a complete paper or an abstract, but please note that accepted abstracts are presented but not published in the proceedings of the conference. Complete papers can be submitted as a Regular Paper, representing completed and validated research, or as a Position Paper, portraying a short report of work in progress or an arguable opinion about an issue discussing ideas, facts, situations, methods, procedures or results of scientific research focused on one of the conference topic areas.</p>
  <p class="my-1 mx-3" style="text-align:justify;">Submission of the paper implies agreement of the author(s) to attend the conference and present the paper if accepted. We reserve the right to exclude papers accepted but not presented from the conference proceedings submitted for archiving and indexing.</p>
  <p class="my-1 mx-3" style="text-align:justify;">All accepted complete papers will be published in the conference proceedings, under an ISBN reference, on paper and on digital library with a DOI (Digital Object Identifier). The proceedings will be submitted for indexation by SCOPUS, Google Scholar, DBLP, Semantic Scholar, EI and Web of Science / Conference Proceedings Citation Index.</p>
    <h3 class="mx-3 mt-2  " id="header-cfp" style="margin-left: 8% !important;">Important Dates</h3>
    <h4 class="mx-3 mt-3">Regular Papers</h4>
    <ul class="mx-3">
        <li><b>Paper Submission: December 15, 2022</b></li>
        <li>Authors Notification: January 9, 2023</li>
        <li>Camera Ready and Registration: February 7, 2023</li>
    </ul>
    <h4 class="mx-3 mt-3 " id="header-cfp">Position Papers</h4>
    <ul class="mx-3">
        <li>Paper Submission: January 9, 2023</li>
        <li>Authors Notification: February 7, 2023</li>
        <li>Camera Ready and Registration: February 14, 2023</li>
    </ul>
    <h4 class="mx-3 mt-3 " id="header-cfp">Doctoral Consortium</h4>
    <ul class="mx-3">
        <li>Paper Submission: January 10, 2023</li>
        <li>Authors Notification: February 1, 2023</li>
        <li>Camera Ready and Registration: February 14, 2023</li>
    </ul>
    <h4 class="mx-3 mt-3 " id="header-cfp">Demos</h4>
    <ul class="mx-3">
        <li>Demo Proposal: January 14, 2023</li>
    </ul>
    <h4 class="mx-3 mt-3 " id="header-cfp">Abstracts</h4>
    <ul class="mx-3">
        <li>Abstract Submission: January 1, 2023</li>
        <li>Authors Notification: January 14, 2023</li>
        <li>Camera Ready and Registration: January 22, 2023</li>
    </ul>
    <h4 class="mx-3 mt-2 " id="header-cfp">Committees</h4>
    <p class="my-1 mx-3" style="text-align:justify;">Program Committee</p>
<h4 class="mx-3 mt-2 " id="header-cfp">Contact</h4>
<p class="my-1 mx-3" style="text-align:justify;">For any problem during the submission process, please, send an email to: </p>   
<!--footer starts ----------------------------------------------------------------------------------------------------------------------->
</nav>
<footer class="mt-3">
  <div class="content">
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Links</li>
        <li><a href="#">Home</a></li>
        <li><a href="importantdates.html">Important Dates</a></li>
        <li><a href="{% url 'upload' %}">Register</a></li>

        </ul>
      </ul>
      <ul class="box">
        <li class="link_name">Legal Info</li>
        <li><a href="{% url 'licence' %}">Licence</a></li>
        <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>

      </ul>
      <ul class="box">
        <li class="link_name">Contact</li>
        <li><a target="on_blank" href="tel:+919079680135">+91 1234567890</a></li>
        <li><a target="on_blank" href="mailto:'sk5779601@gmail.com'">2131232131321@gmail.com</a></li>
      </ul>
    </div>
  </div>

  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">Copyright © 2023 <a href="#">ICCCIT 2023</a></span>
    </div>
  </div>
</footer>
<!-- ---------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------- -->

</body>
</html>
